<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <title>Signup</title>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3>Login</h3>
                    <a class="btn btn-success" href="/custom-signup">Signup</a>
                    <a class="btn btn-info" href="{{.URL}}">Signup With Google</a>
                    <a class="btn btn-warning" href="/">Back</a>                    
                </div>
            </div>
        </div>
    </body>
</html>