<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>Profil - Edit Profile</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>Edit Profile</h3>
                <a class="btn btn-success" href="/login-user">Login</a>
                <a class="btn btn-info" href="{{.Url}}">Login With Google</a>
            </div>
        </div>
    </div>
</body>

</html>