<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>{{.Fullname}}</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>My Profile</h3>
                <table class="table table-bordered">
                    <tr>
                        <td>Full Name</td>
                        <td id="fullname"></td>
                    </tr>
                    <tr>
                        <td>Address</td>
                        <td id="address"></td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td id="email"></td>
                    </tr>
                    <tr>
                        <td>Telephone</td>
                        <td id="telephone"></td>
                    </tr>
                </table>
                <a class="btn btn-info" href="/update-profile">Edit Profile</a>
                <a class="btn btn-warning" href="/logout">Logout</a>
            </div>
        </div>
    </div>
    <script>
            $(document).ready(function () {
                $.getJSON("/api/v1/profile/get", function (result) {
                    $.each(result, function (i, field) {
                        $("#"+i).append(field);
                    });
                });
            });
    </script>
</body>

</html>